{% extends "base.html" %}
{% block content%}

    <h3 class="light-blue-text center-align">Edit Recipe</h3>

     <div class="row card-panel grey lighten-5">
         <form class="col s12" method="POST" action="{{ url_for('edit_food', food_id=food._id) }}">
             <!-- Category Selection-->
             <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled >Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == food.category_name%}                            
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>       
                            {% else %}
                               <option value="{{ category.category_name }} ">{{ category.category_name }}</option>      
                            {% endif %}  
                        {% endfor %}                
                    </select>
                    <label for="category_name">Recipe Category</label>
                </div>
             </div>
             <div class="row">
                 <!--Recipe name-->
                 <div class="input-field col s12">
                     <i class="fas fa-user-circle prefix"></i>
                     <input id="food_name" name="food_name" minlength="5" maxlength="50"
                         value="{{ food.food_name }}" type="text" class="validate" required>
                     <label for="food_name">Recipe Name</label>
                 </div>
             </div>
             <!-- Food description-->
             <div class="row">
                 <div class="input-field col s12">
                     <i class="fas fa-align-left prefix"></i>
                     <textarea id="food_description" name="food_description" minlength="5"
                         maxlength="200" class="materialize-textarea validate" required>
                        {{- food_description -}}
                        </textarea>
                     <label for="food_description">Recipe Description</label>
                 </div>
             </div>
              <!-- Image URL-->
              <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-camera prefix form-recipe-icon-margin-1"></i>
                    <label for="food_image">Image URL</label>
                    <input type="text" class="form-control validate" value="{{ food.food_image }}"name="food_image" 
                        id="food_image" aria-describedby="food_image" required> 
                </div>
              </div>
            <!-- Ingredients-->
             <div class="row">
                 <div class="input-field col s12">
                     <i class="fas fa-align-left prefix"></i>
                     <textarea id="food_ingredients" name="food_ingredients" minlength="5"
                         maxlength="200" class="materialize-textarea validate" required>
                        {{- food.food_ingredients -}}
                        </textarea>
                     <label for="food_ingredients">Ingredients</label>
                 </div>
             </div>

             <!-- Preparation-->
             <div class="row">
                 <div class="input-field col s12">
                     <i class="fas fa-align-left prefix"></i>
                     <textarea id="food_preparation" name="food_preparation" minlength="5"
                         maxlength="200" class="materialize-textarea validate" required>
                        {{- food.food_preparation -}}
                        </textarea>
                     <label for="food_preparation">Preparation</label>
                 </div>
             </div>






             <!-- Submit button-->
             <div class="row">
                 <div class="col s12 center-align">
                     <!-- cancel button -->
                     <a href="{{ url_for('get_foods') }}" class="btn red text-shadow">
                         Cancel <i class="fas fa-times-circle right"></i>
                     </a>
                     <button class="btn waves-effect waves-light" type="submit" >Edit Recipe
                        <i class="fas fa-edit right"></i>
                    </button>
                 </div>
             </div>
         </form>
     </div>
{% endblock %}