{% extends "base.html" %}
{% block content %}

 
    

      <ul class="collapsible">
          {% for food in foods %}
          <li>
              <div class="collapsible-header">
                  <i class="fas fa-caret-down"></i>
                  <strong>{{ food.food_name }}</strong> : {{ food.food_description }}
              </div>
              <div class="collapsible-body">
                  <strong>{{ food.category_name }}</strong>
                  <p>{{ food.food_ingredients }}</p>
              </div>
          </li>      
           {% endfor %}    
      </ul>

{% endblock %}
    