{% extends "base.html" %}
{% block content%}


   <div class="parallax-container" >
      <div class="parallax"><img src="static/img/pexels-katerina-holmes-5908216.jpg" alt="two women cooking"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h3 class="header">Welcome to The Cook Book </h3>
        <p class="grey-text text-darken-3 lighten-3">Here you can find and share recipes, and it allows users to easily store and access recipes, add new recipes, edit or delete them.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="static/img/pexels-elle-hughes-2696064.jpg" alt="man and woman cooking"></div>
    </div>




{% endblock %}