{% extends "base.html"%}
{% block content %}

<h5><strong> Products to make your cooking easier by </strong><img
        src="https://www.ikea.com/ie/en/static/ikea-logo.30ea043ab7280f5f3ad6.svg" alt="ikea"></h5><br>

<div class="row">
    <div class="col s12 m12 l6">
        <div class="card medium" style="width: 90%">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator"
                    src="https://www.ikea.com/global/assets/navigation/images/cooking-preparation-tools-33499.jpeg?imwidth=400" alt="cooking products">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><strong>Cooking preparation tools</strong> <i
                        class="material-icons right btn-small">See more</i></span><br>
                <p><a href="https://www.ikea.com/ie/en/cat/cooking-preparation-tools-33499/" target="_blank">Go to the
                        site</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><strong>Cooking preparation tools</strong><i
                        class="material-icons right btn-small">close</i></span>
                <p>Peeling, mashing, pressing, grating...and that’s just potatoes! With all the things you can do with food,
                    having the right cooking preparation tools and kitchen gadgets makes life a lot easier.
                    Choose from a wide range of utensils, like a pestle and mortar for that pesto or guac!</p>
            </div>
        </div>

        <div class="card  medium" style="width: 90%">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator"
                    src="https://www.ikea.com/global/assets/navigation/images/cooking-utensils-33498.jpeg?imwidth=400" alt="cooking products">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><strong>Cooking utensils</strong><i
                        class="material-icons right btn-small">See more</i></span><br>
                <p><a href="https://www.ikea.com/ie/en/cat/cooking-utensils-33498/" target="_blank">Go to the site</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><strong>Cooking utensils</strong><i
                        class="material-icons right btn-small">close</i></span>
                <p>Having a complete kitchen utensils range at home might seem impossible – there's often a need of
                    something new, like a spatula or a whisk when baking,
                    or perhaps a fish slice when you're cooking a new and trendy recipe. We make things easier though – find
                    your new kitchen utensils favourites here!</p>
            </div>
        </div>
    </div>


    <div class="col s12 m12 l6">
        <div class="card  medium" style="width: 90%">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator"
                    src="https://www.ikea.com/global/assets/navigation/images/colanders-20667.jpeg?imwidth=400" alt="cooking products">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><strong>Colanders</strong><i class="material-icons right btn-small">See
                        more</i></span><br>
                <p><a href="https://www.ikea.com/ie/en/cat/colanders-20667/" target="_blank">Go to the site</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><strong>Colanders</strong><i class="material-icons right btn-small">close</i></span>
                <p>Rinsing vegetables or draining pasta aren't the most glamorous parts of cooking. But our colanders
                    certainly make tasks like these a lot easier.
                    They also come in a range of styles and colours, so you can go for the look you like and brighten things
                    up a bit, every day.</p>
            </div>
        </div>

        <div class="card  medium" style="width: 90%">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator"
                    src="https://www.ikea.com/global/assets/navigation/images/ice-cream-ice-cubes-accessories-33500.jpeg?imwidth=400" alt="cooking products">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><strong>Ice cream & ice cubes
                        accessories</strong> <i class="material-icons btn-small right">See more</i></span><br>
                        
                <p><a href="https://www.ikea.com/ie/en/cat/ice-cream-ice-cubes-accessories-33500/" target="_blank">Go to the
                        site</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><strong>Ice cream & ice cubes
                        accessories</strong><i
                        class="material-icons right btn-small">close</i></span>
                <p>When it comes to cool, we’ve got you covered. Our range includes ice cream scoops, ice cube trays in fun
                    designs and, of course,
                    ice moulds for ice lolly making for cool treats. Check out our range of ice and ice cube accessories
                    that we have to offer.</p>
            </div>
        </div>
    </div>
</div>






{% endblock %}